@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
body {
  background: rgb(217,161,195);
  background: linear-gradient(90deg, rgba(217,161,195,1) 0%, rgba(200,154,139,1) 35%, rgba(191,151,207,1) 79%);
}
h1 {
  font-family: Roboto;
  font-size: 34px;
  color: white;
  text-align: center;
}
p {
  font-family: Wittgenstein
  font-size: 20px;
  text-align: center;
}
.box {
  border: 5px outset grey;
  border-spacing: 5px;
  text-align: center;
}
  
