@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
body {
  background: rgb(217,161,195);
  background: linear-gradient(90deg, rgba(217,161,195,1) 0%, rgba(200,154,139,1) 35%, rgba(191,151,207,1) 79%);
}
h1 {
  font-family: Roboto;
  font-size: 34px;
  color: black;
  text-align: center;
}
p {
  font-family: "Wittgenstein", serif;
  font-size: 24px;
  text-align: center;
  color: black;
}
.box {
  border: 5px solid black;
  border-radius: 5px;
  margin: 0 auto;
  padding: 10px;
  width: 120px;
}
  
